/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

a {
  color: #8dadff;
  text-decoration: none;
  &:hover {
    color: #000;
    text-decoration: underline;
  }
  &:visited {
    color: #4975e6;
  }
}

/* Utility */

.wrap {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  max-width: 700px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-top: 5px solid #333;
  border-bottom: 1px solid #777;
  min-height: 56px;
  background-color: #333;
}

.site-title {
  display: block;
  color: #fff;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
  &:hover, &:visited {
    display: block;
    color: #fff;
    font-size: 26px;
    letter-spacing: -1px;
    float: left;
    line-height: 56px;
    position: relative;
    z-index: 1;
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  .menu-icon {
    display: none;
  }
  .page-link {
    margin-left: 20px;
    color: #fff;
    letter-spacing: -.5px;
  }
}

/* Site footer */

.site-footer {
  border-top: 1px solid #777;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column {
  float: left;
  margin-bottom: 15px;
}

.footer-col-1 {
  width: 270px;
  /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px;
}

.footer-col-2 {
  width: 175px;
  /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px;
}

.footer-col-3 {
  width: 335px;
  /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer {
  ul {
    list-style: none;
  }
  li, p {
    font-size: 15px;
    letter-spacing: -.3px;
    color: #828282;
  }
}

.github-icon-svg, .twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #2a2a2a;
  color: #eee;
}

/* Home styles */
/* ----------------------------------------------------------*/

.home h1 {
  margin-bottom: 25px;
}

.posts {
  list-style-type: none;
  li {
    margin-bottom: 30px;
  }
  .post-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
  }
}

.rss-subscribe {
	font-size: 0.9em;
	padding-top: 1em;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-header {
  margin: 10px 0 30px;
  h1 {
    font-size: 42px;
    letter-spacing: -1.75px;
    line-height: 1;
    font-weight: 300;
  }

  .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
  }
}

.post-content {
  margin: 0 0 30px;
  > * {
    margin: 20px 0;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 300;
    margin: 40px 0 20px;
  }
  h2 {
    font-size: 32px;
    letter-spacing: -1.25px;
  }
  h3 {
  	font-size: 24px;
	margin-bottom: 0em;
  } 
  .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
    margin-bottom: 1em;
  }
  h4 {
    font-size: 20px;
    letter-spacing: -1px;
  }
  blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
  }

  .post-body {
	  
  }     
}

.post {
  pre {
    border: 1px solid #555;
    background-color: #444;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    overflow: scroll;
  }
  code {
    border: 1px solid #555;
    background-color: #444;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    overflow: scroll;
    padding: 1px 5px;
  }
  pre {
    code {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
    &.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      code {
        background-color: #333;
      }
    }
  }
  p {
	  hyphens: auto;
	  -webkit-hyphens: auto;
	  text-align: justify;
  }
  table {
  	  border-collapse: collapse;
  	  width: 100%;
  
	  th {
		  text-align: left;
		  padding: 0.8em;
		  margin: 0;
		  border-bottom: 1px solid white;
	  }
	  td {
		  padding: 0.8em;
		  margin: 0;
		  text-align: justify;
		  hyphens: auto;
	  }
  }
}

/* terminal */

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight {
  background: #ffffff;
  .c {
    color: #999988;
    font-style: italic;
  }
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .k, .o {
    font-weight: bold;
  }
  .cm {
    color: #999988;
    font-style: italic;
  }
  .cp {
    color: #999999;
    font-weight: bold;
  }
  .c1 {
    color: #999988;
    font-style: italic;
  }
  .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
  }
  .gd {
    color: #000000;
    background-color: #ffdddd;
    .x {
      color: #000000;
      background-color: #ffaaaa;
    }
  }
  .ge {
    font-style: italic;
  }
  .gr {
    color: #aa0000;
  }
  .gh {
    color: #999999;
  }
  .gi {
    color: #000000;
    background-color: #ddffdd;
    .x {
      color: #000000;
      background-color: #aaffaa;
    }
  }
  .go {
    color: #888888;
  }
  .gp {
    color: #555555;
  }
  .gs {
    font-weight: bold;
  }
  .gu {
    color: #aaaaaa;
  }
  .gt {
    color: #aa0000;
  }
  .kc, .kd, .kp, .kr {
    font-weight: bold;
  }
  .kt {
    color: #445588;
    font-weight: bold;
  }
  .m {
    color: #009999;
  }
  .s {
    color: #dd1144;
  }
  .na {
    color: teal;
  }
  .nb {
    color: #0086b3;
  }
  .nc {
    color: #445588;
    font-weight: bold;
  }
  .no {
    color: teal;
  }
  .ni {
    color: purple;
  }
  .ne, .nf {
    color: #990000;
    font-weight: bold;
  }
  .nn {
    color: #555555;
  }
  .nt {
    color: navy;
  }
  .nv {
    color: teal;
  }
  .ow {
    font-weight: bold;
  }
  .w {
    color: #bbbbbb;
  }
  .mf, .mh, .mi, .mo {
    color: #009999;
  }
  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx {
    color: #dd1144;
  }
  .sr {
    color: #009926;
  }
  .s1 {
    color: #dd1144;
  }
  .ss {
    color: #990073;
  }
  .bp {
    color: #999999;
  }
  .vc, .vg, .vi {
    color: teal;
  }
  .il {
    color: #009999;
  }
}

.apps {
	.app {
		vertical-align: middle;
	}
	.appicon {
		width: 64px;
	}
	.appname {
	}
	a {
		color: white;
	}
}

/* Comment */
/* Error */
/* Keyword */
/* Operator */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Deleted.Specific */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Inserted.Specific */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */

/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 750px) {
  .footer-col-1 {
    width: 50%;
  }
  .footer-col-2 {
    width: 45%;
    /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }
  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }
}

@media screen and (max-width: 600px) {
  .wrap {
    padding: 0 12px;
  }
  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px;
    right: 8px;
    background-color: #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
    .menu-icon {
      display: block;
      font-size: 24px;
      color: #505050;
      float: right;
      width: 36px;
      text-align: center;
      line-height: 36px;
      svg {
        width: 18px;
        height: 16px;
      }
    }
    .trigger {
      clear: both;
      margin-bottom: 5px;
      display: none;
    }
    &:hover .trigger {
      display: block;
    }
    .page-link {
      display: block;
      text-align: right;
      line-height: 1.25;
      padding: 5px 10px;
      margin: 0;
    }
  }
  .post-header h1 {
    font-size: 36px;
  }
  .post-content {
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 18px;
    }
    blockquote, ul, ol {
      padding-left: 10px;
    }
  }
  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px;
  }
}
